.vscode
server/node_modules
server/package-lock.json
server/.DS_Store

test-app/node_modules
test-app/package-lock.json
test-app/.DS_Store
b.js/node_modules
.DS_Store
wdi-example/node_modules
test-example/node_modules